@font-face {
  font-family: 'IRYekan';
  font-weight: normal;
  src: local('IRYekan'), url('../assets/fonts/IRYekan.ttf') format("truetype");
}

@font-face {
  font-family: 'IRYekan';
  font-weight: bold;
  src: local('IRYekan'), url('../assets/fonts/IRYekanBold.ttf') format("truetype");
}

