.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  .divider {
    margin: 12px 0;
  }

  .form-container {
    width: 100%;
  }

  .card {
    width: min(350px, 100%);
  }
}