.searchbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  border-radius: 20px;
  background: white;
  align-items: center;
  justify-content: right;
  padding: 15px;
  column-gap: 20px;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__input-bar {
    flex-grow: 1;
    color: #747171;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}