html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "IRYekan";
  font-weight: normal;
  src: local("IRYekan"), url("../assets/fonts/IRYekan.ttf") format("truetype");
}
@font-face {
  font-family: "IRYekan";
  font-weight: bold;
  src: local("IRYekan"), url("../assets/fonts/IRYekanBold.ttf") format("truetype");
}
.card {
  width: min(500px, 100%);
  padding: 10px;
  border-radius: 15px;
  background: rgba(249, 249, 249, 0.52);
}
.card__container {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  padding: 60px 30px 40px 30px;
  background: white;
  border-radius: 15px;
  border: 0 solid #000;
  box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.card__container .title {
  font-weight: bold;
  align-self: center;
}
.card__container .button {
  margin-top: 20px;
  text-transform: none;
}

.searchbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  border-radius: 20px;
  background: white;
  align-items: center;
  justify-content: right;
  padding: 15px;
  column-gap: 20px;
}
.searchbar__icon {
  width: 40px;
  height: 40px;
}
.searchbar__input-bar {
  flex-grow: 1;
  color: #747171;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.home-page h1 {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.login-page .divider {
  margin: 12px 0;
}
.login-page .form-container {
  width: 100%;
}
.login-page .card {
  width: min(350px, 100%);
}

.signup-page {
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signup-page .title {
  color: black;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.template {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center 40px;
  background-repeat: no-repeat;
}
.template__gray-filter {
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.61);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.template__gray-filter .container {
  flex: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.template__gray-filter .container .appbar {
  position: fixed;
  height: fit-content;
}
.template__gray-filter .container .appbar .toolbar {
  display: flex;
}
.template__gray-filter .container .appbar .toolbar__button {
  color: black;
  padding: 9px 25px;
  width: fit-content;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: var(--gray1, #D9D9D9);
}
.template__gray-filter .container .appbar .toolbar__icon-spacer {
  flex-grow: 1;
}
.template__gray-filter .container .appbar .toolbar__icon-divider {
  width: 2px;
  height: 30px;
  margin: 0 10px;
}
.template__gray-filter .container .appbar .toolbar__icon {
  width: 30px;
  height: 30px;
}
.patient-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.patient-panel .searchbar {
  max-width: min(100%, 900px);
  margin-bottom: 20px;
}
.patient-panel__item {
  width: calc(100% - 20px * 2);
  max-width: min(100%, 700px);
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.patient-panel__item img {
  width: 24px;
  height: 24px;
}
.patient-panel__item p {
  font-size: 1rem;
}

* {
  font-family: "IRYekan", sans-serif;
}

/*# sourceMappingURL=index.css.map */
